<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC 
	"-//SPRING//DTD BEAN 2.0//EN" 
	"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="employee" class="com.model.Employee">
		<property name="emp_id" value="1"></property>
		<property name="emp_name" value="Ashwin"></property>
		<property name="emp_salary" value="35000.540"></property>
	</bean>
</beans>