<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="student" class="com.model.Student">
		<property name="id" value="1"></property>
		<property name="name" value="Ashwin"></property>
		<property name="mark" value="450"></property>

		<property name="subjectMap">
			<map merge="true">
				<entry key="301" value="JAVA" />
				<entry key="456" value="Python" />
				<entry key="784" value="Angular" />
			</map>
		</property>
	</bean>
</beans>